.skewk {
  background: white;
  width: 100%;
  height: 100px;
  transform: skewY(2deg) translateY(-45px);
  z-index: -1;

  @media(max-width: 450px) {
    height: 55px;

  }
}

.skewk2 {
  background: white;
  width: 100%;
  height: 100px;
  margin-top: -25px;
  transform: skewY(-2deg) translateY(50px);
  z-index: 1;


}